@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: 'NotoNaskh';
  src: url('/fonts/NotoNaskhArabic-Regular.woff2') format('woff2');
}

html {
  font-family: 'NotoNaskh', 'Tahoma', sans-serif;
  direction: rtl;
}
